[color]
  diff = auto
  status = auto
  branch = auto

[core]
  excludesfile = ~/.gitignore
  quotepath = false
  autocrlf = input

[apply]
  whitespace = nowarn

[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset

[push]
  default = simple

[alias]
  st = status
  co = checkout
  ec = config --global -e
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  cob = checkout -b
  cm = !git add -A && git commit -m
  save = !git add -A && git commit -m 'SAVEPOINT'
  wip = !git add -u && git commit -m "WIP"
  undo = reset HEAD~1 --mixed
  amend = commit -a --amend
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
  bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
  identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[gpg]
    program = gpg

[tag]
    gpgsign = true

[diff]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = Kaleidoscope
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[user]
  useConfigOnly = true

[init]
  defaultBranch = main

{{- if (index . "gitidentities") }}
{{range $index, $element := .gitidentities}}
[user {{$index | quote}}]
name = {{$element.name}}
email = {{$element.email}}
{{ if (index $element "signingkey") }}signingkey = {{$element.signingkey}}{{- end}}
{{end}}
{{- end }}
