export GPG_TTY=$TTY
export GOPATH=$HOME/.go
export PYENV_VIRTUALENV_DISABLE_PROMPT=1
export PIP_REQUIRE_VIRTUALENV=true
export PYTHONDONTWRITEBYTECODE=1
export DISABLE_AUTO_UPDATE=true
export PATH="$HOME/.local/bin:${GOPATH//://bin:}/bin:/usr/local/sbin:$PATH"

{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_BREWFILE=~/.brewfile

{{- if eq .chezmoi.arch "arm64" }}
export PATH="/opt/homebrew/bin:/opt/homebrew/sbin:$PATH"
{{- end }}

source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
{{- else }}

source ${ZDOTDIR:-~}/.antidote/antidote.zsh
{{- end }}
antidote load ${ZDOTDIR:-$HOME}/.zsh_plugins.txt

{{- if eq .chezmoi.os "darwin" }}
# Make pyenv play nice with Homebrew
# https://github.com/pyenv/pyenv/issues/106
alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'
{{- end }}
