export GOPATH=$HOME/.go
export PATH="$HOME/.local/bin:${GOPATH//://bin:}/bin:/usr/local/sbin:$PATH"
{{- if eq .chezmoi.hostname "mac-mberther" }}
export PATH="/opt/homebrew/bin:$PATH"
{{- end }}

export ZSH="$(antibody home)/https-COLON--SLASH--SLASH-github.com-SLASH-robbyrussell-SLASH-oh-my-zsh"
source ~/.zsh_plugins.sh

export EDITOR='vim'
export SSH_PUBLIC_KEY_PATH=$HOME/.ssh/id_rsa.pub

export PYENV_VIRTUALENV_DISABLE_PROMPT=1
export PIP_REQUIRE_VIRTUALENV=true
export PYTHONDONTWRITEBYTECODE=1


alias clear_history='echo "" >  ~/.zsh_history & exec $SHELL -l'
export GPG_TTY="tty"

# Make pyenv play nice with Homebrew
# https://github.com/pyenv/pyenv/issues/106
alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'
alias chezmoi="chezmoi -S ~/projects/mattberther/dotfiles"
