{{- if eq .chezmoi.hostname "LT-MBERTHER2" }}
umask 22
cd ~
{{- end }}

source <(antibody init)
export ZSH="$(antibody home)/https-COLON--SLASH--SLASH-github.com-SLASH-robbyrussell-SLASH-oh-my-zsh"
antibody bundle < ~/.zsh_plugins.txt

export EDITOR='vim'
export SSH_PUBLIC_KEY_PATH=$HOME/.ssh/id_rsa.pub

export PYENV_VIRTUALENV_DISABLE_PROMPT=1
export PIP_REQUIRE_VIRTUALENV=true
export PYTHONDONTWRITEBYTECODE=1

export GOPATH=$HOME/go
export PATH="$HOME/.local/bin:${GOPATH//://bin:}/bin:/usr/local/sbin:$PATH"

alias clear_history='echo "" >  ~/.zsh_history & exec $SHELL -l'
export GPG_TTY="tty"

alias chezmoi="chezmoi -S ~/projects/mattberther/dotfiles"
